body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0 0 0 0;
}

.nav {
  padding-bottom: 30px;
}

/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-weight: 400;
  font-size: 16px;
  font-family: lato, sans-serif;
  line-height: 1.7;
  color: #777;
  padding: 30px;
}
.header {
  height: 95vh;
  /* takes 95% of the element height. */
  background: -webkit-linear-gradient(
    left top,
    rgba(84, 196, 121, 0.01),
    rgb(40, 180, 133)
  );
}
